<div class="project">
  <div class="card-title-container">
    <h2 class="card-title"><%= project.name %></h2>
  </div>

  <!-- Descripci칩n truncada -->
  <% truncated_description = truncate(project.description, length: 100) %>
  <p class="card-text"><%= truncated_description %></p>

  <!-- Bot칩n 'Leer m치s' si el texto fue truncado -->
  <%# <% if project.description.length > 100 %>
    <%# <div class="text-center mt-3"> %>
      <%# <%= link_to 'Leer m치s', project_path(project), class: 'btn btn-secondary' %>
    <%# </div> %>
  <%# <% end %>
</div>
