<p style="color: green"><%= notice %></p>

<!-- Page container with background image -->
<div class="background-container">
  <div class="container py-5">
    <h1 class="text-center text-white mb-4">All Projects</h1>

    <!-- Button to create a new project -->
    <div class="text-center mb-4">
      <%= link_to 'Create New Project', new_project_path, class: 'btn btn-custom' if policy(Project).new? %>
    </div>

    <!-- Projects Grid -->
    <div class="row" id="projects">
      <% @projects.each do |project| %>
        <div class="col-md-4 mb-4"> <!-- Each project in a 3-column grid -->
          <div class="card h-100">
            <div class="card-body">
              <!-- Render individual project details -->
              <%= render project %>

              <!-- Button to show this project -->
              <div class="text-center mt-3">
                <%= link_to 'Show this Project', project, class: 'btn btn-secondary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
