// app/assets/stylesheets/projects.scss

.project-detail-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.project-text {
  position: absolute;
  top: 100px; /* Ajusta la distancia desde la parte superior */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para que el texto resalte sobre la imagen */
  z-index: 2; /* Asegura que el texto se muestre por encima de la imagen */
}

.project-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.project-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-lg:hover {
  opacity: 0.8;
}
