footer {
  background-color: #2c3e50; /* Fondo oscuro elegante */
  color: white;
  padding: 40px 20px; /* Mayor padding para que no se vea tan apretado */
  text-align: center;
  margin-top: 20px; /* Para separar el footer del contenido */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.follow-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #ecf0f1; /* Color más suave para el texto */
}

.social-media-links {
  gap: 20px; /* Espaciado entre los iconos */
}

.social-icon {
  display: inline-block;
  margin: 0 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon svg {
  fill: #ecf0f1; /* Color blanco para los iconos */
  transition: fill 0.3s ease;
}

.social-icon:hover svg {
  fill: #3498db; /* Color azul brillante en hover */
  transform: scale(1.2); /* Aumenta el tamaño de los iconos en hover */
}

.social-icon svg {
  width: 35px;
  height: 35px;
}
